<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mulyanto.bookinventory">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.mulyanto.bookinventory.core.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.mulyanto.bookinventory.activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mulyanto.bookinventory.activity.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.mulyanto.bookinventory.MainActivity"></activity>
        <activity
            android:name="com.mulyanto.bookinventory.activity.BookFormActivity"
            android:label="@string/title_activity_book_form"
            android:parentActivityName="com.mulyanto.bookinventory.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mulyanto.bookinventory.MainActivity" />
        </activity>
    </application>

</manifest>
